html {
    background-color: #f5f5f5;
    height: auto;
    overflow: scroll;
    margin-bottom: 30px;
}

body {
    background-color: #f5f5f5;
}

#id_main_header {
    background-color: #224d89;
    display: inline-block;
    width: 100%;
    height: 60px;
}

#id_logo {
    width: auto;
    height: 50px
}

.nav-list {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #333;
    list-style: none;
    margin-left: 15%;
    color: #9cafce;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -30px;

}

.li-navbar-top {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.li-navbar-top:hover {
    text-decoration: underline #ffffff;
    text-underline: #ffffff;
    text-decoration-style: solid;

}

#id_btn_success_top {
    margin-top: 10px;
    left: 98%;
    margin-right: 10px;
    display: block;
    float: right;
}

#id_plus_btn {
    float: right;
    color: white;
    display: block;
    margin-right: 15px;
    margin-top: 20px;
}

#id_container_form {
    display: block;
    width: 70%;
    height: auto;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#job_title {
    height: 35px;
    font-size: 20px;
    color: grey;
    background-color: #ffffff;
    border: 1px solid;
    border-color: lightgray;

}

#job_description {
    height: 35px;
    font-size: 20px;
    color: grey;
    background-color: #ffffff;
    border: 1px solid;
    border-color: lightgray;
}

#job_location {
    font-size: 20px;
    color: grey;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: lightgray;

}

label {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 38px;
    color: #6E6E6E;
    display: block;
    padding-top: 5px;
}

.col-md-2 {
    display: block;
    margin-top: 20px;
}

input {
    background-color: #ffffff;
    width: 350px;
    height: 40px;
    color: grey;
    position: absolute;
    left: 15%;
    top: 10px;
    border-color: grey;
    border-radius: 6px;
}

#id_search_btn {
    width: 50px;
    height: 40px;
    margin-top: 10px;
    margin-left: 500px;
}

p{
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

#id_row_footer{
    width: 100%;
    height:60px;
    left:0;
    right:0;
    background-color: #ffffff;
    border-top:2px dotted lightgray;
}

#nav-container{
    width: 30%;
    height:60px;
    float:left;
    text-align: center;
    padding-left:10%;

}

#nav_list{
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    display: inline;
    width: 500px;
    height: 60px;
    font-size: 16px;
    color:#333;
    margin-left: 15%;
}

li{
    display: inline;
    color:#939292;
    float:left;
    height: 60px;
    width: auto;
    margin-padding:20px;
}

li:hover{
    color:grey;
    background-color: #eaeaea;
}

.text-muted{
    display:block;
    text-align: center;
    padding-top:20px;
    margin-left:20px;
    margin-right: 20px;
}

#id_language_button{
    height:60px;
    width: 60px;
    margin-top:-10px;
}

#id_language_btn_link{
    width: inherit;
    height: inherit;
}

#id_social_media_col{
    width: 200px;
    height:60px;
    display:block;
    margin-top:0px;
    margin-right:180px;
    float:right;
}

#id_social_media_links{
    display: block;
    padding-top:20px;
    float:right;

}

#id_input_area{
    background-color: #ffffff;
}


#id_row_footer{
    width: 100%;
    height:60px;
    left:0;
    right:0;
    bottom:0;
    background-color: #ffffff;
    border-top:2px dotted lightgray;
}

#id_dropdownMenuButton{
    background-color: white;
    color:#999;
    width: 90px;
    height:60px;
}

#id_drop_img{
    width: 40px;
    height:40px;
}

.open > .dropdown-menu {
    display: block;
    background-color: white;
    min-width: 0;
    height:auto;
    top:auto;
    bottom:100%;
    left:40%;
}

li{
    display: block;
}

#menu1{
    background-color: white;
    color:#999;
}

.dropdown-menu{
    background-color: #6E6E6E;
}