<footer>
    <div class="fixed-bottom">
        <div class="row" id="id_row_footer">
            <div class="col-lg-7 col-md-5 col-sm-10 col-xs-12 text-lg-right text-center" id="nav-container">
                <ul id="nav_list">
                    <li>
                        <a href="/ro/hartasite/joburi" class="text-muted">
                            Site map
                        </a>
                    </li>
                    <li>
                        <a href="http://support.bestjobs.eu/hc/ro" target="_blank"
                           class="text-muted">Suport</a>
                    </li>
                    <li>
                        <a href="/ro/legal/terms" class="text-muted">
                            Conditii
                        </a>
                    </li>
                    <li>
                        <a href="/ro/legal/confidentiality" class="text-muted">
                            Confidentialitate
                        </a>
                    </li>
                    <li>
                        <a href="/ro/company/offer#About" class="text-muted"
                           onclick="$('.tab-link[href=\'#About\']', '#offerTypes').click()">
                            Despre noi
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.bestjobs.eu/?lang=ro" target="_blank" class="text-muted">
                            Blog
                        </a>
                    </li>
                </ul>

            </div>

            <div class="col-md-1 col-sm-2 col-xs-12 col-lg-1 text-lg-right text-center lang-links" id="lang-selector"
                 data-locale="ro">

                <div class="dropup">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                        Tutorials
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li class="text-lg-left text-center">
                            <a href="https://www.bestjobs.eu/en/landing/aplicanti-garantati"
                               data-toggle="tooltip" data-placement="left" title=""
                               data-original-title="engleză">
                                <img src="https://ss.bestjobs.eu/img/flags/en.png" class="flag">
                                <small>EN</small>
                            </a>
                        </li>
                        <li class="text-lg-left text-center">
                            <a href="https://www.bestjobs.eu/pl/landing/aplicanti-garantati"
                               data-toggle="tooltip" data-placement="left" title=""
                               data-original-title="poloneză">
                                <img src="https://ss.bestjobs.eu/img/flags/pl.png" class="flag">
                                <small>PL</small>
                            </a>
                        </li>
                        <li class="text-lg-left text-center">
                            <a href="https://www.bestjobs.eu/hu/landing/aplicanti-garantati"
                               data-toggle="tooltip" data-placement="left" title=""
                               data-original-title="maghiară">
                                <img src="https://ss.bestjobs.eu/img/flags/hu.png" class="flag">
                                <small>HU</small>
                            </a>
                        </li>
                        <li class="text-lg-left text-center">
                            <a href="https://www.bestjobs.eu/it/landing/aplicanti-garantati"
                               data-toggle="tooltip" data-placement="left" title=""
                               data-original-title="italiană">
                                <img src="https://ss.bestjobs.eu/img/flags/it.png" class="flag">
                                <small>IT</small>
                            </a>
                        </li>
                        <li class="text-lg-left text-center">
                            <a href="https://www.bestjobs.eu/de/landing/aplicanti-garantati"
                               data-toggle="tooltip" data-placement="left" title=""
                               data-original-title="germană">
                                <img src="https://ss.bestjobs.eu/img/flags/de.png" class="flag">
                                <small>DE</small>
                            </a>
                        </li>
                        <li class="text-lg-left text-center">
                            <a href="https://www.bestjobs.eu/fr/landing/aplicanti-garantati"
                               data-toggle="tooltip" data-placement="left" title=""
                               data-original-title="franceză">
                                <img src="https://ss.bestjobs.eu/img/flags/fr.png" class="flag">
                                <small>FR</small>
                            </a>
                        </li>
                        <li class="text-lg-left text-center">
                            <a href="https://www.bestjobs.eu/sr/landing/aplicanti-garantati"
                               data-toggle="tooltip" data-placement="left" title="" data-original-title="sârbă">
                                <img src="https://ss.bestjobs.eu/img/flags/sr.png" class="flag">
                                <small>SR</small>
                            </a>
                        </li>
                        <li class="text-lg-left text-center">
                            <a href="https://www.bestjobs.eu/es/landing/aplicanti-garantati"
                               data-toggle="tooltip" data-placement="left" title=""
                               data-original-title="spaniolă">
                                <img src="https://ss.bestjobs.eu/img/flags/es.png" class="flag">
                                <small>ES</small>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-lg-2 col-md-3 col-xs-12 text-lg-right text-center" id="id_social_media_col">
                <div class="btn-group btn-group-sm social-buttons" id="id_social_media_btn">
                    <a href="http://twitter.com/BestJobsRo" target="_blank" class="btn btn-twitter navbar-btn"
                       data-toggle="tooltip" title="" data-original-title="Urmareste-ne pe Twitter"
                       id="id_social_media_links">
                        <i class="fab fa-fw fa-lg fa-twitter"></i>
                    </a>
                    <a href="http://www.youtube.com/user/BestJobsRecrutare" target="_blank"
                       class="btn btn-youtube navbar-btn" data-toggle="tooltip" title=""
                       data-original-title="Urmareste-ne pe YouTube" id="id_social_media_links">
                        <i class="fab fa-fw fa-lg fa-youtube-square"></i>
                    </a>
                    <a href="https://www.facebook.com/BestJobs" target="_blank"
                       class="btn btn-facebook navbar-btn" data-toggle="tooltip" title=""
                       data-original-title="Urmareste-ne pe Facebook" id="id_social_media_links">
                        <i class="fab fa-fw fa-lg fa-facebook-square"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/bestjobs" target="_blank"
                       class="btn btn-linkedin navbar-btn" data-toggle="tooltip" title=""
                       data-original-title="Urmareste-ne pe Linkedin" id="id_social_media_links">
                        <i class="fab fa-fw fa-lg fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            calculateWindowHeight();
        });
        $(window).resize(function () {
            calculateWindowHeight();
        });
        $(window).on("orientationchange", function (event) {
            calculateWindowHeight();
        });

        function calculateWindowHeight() {
            var documentHeight = $(document).height();
            $('#id-body').css('min-height', documentHeight);
        }
    </script>

</footer>
